diagrams~=0.23.3
pytest~=7.2.2
flask_restful~=0.3.9
build~=0.10.0
twine~=4.0.2
diagrams~=0.23.3
psycopg2~=2.9.5
boto3~=1.26.133
Scrapy~=2.8.0
scrapy-playwright~=0.0.26
pandas~=1.4.3
SQLAlchemy~=1.4.48
numpy~=1.23.3
openai~=0.27.6
matplotlib~=3.7.1
# google
google-auth~=2.18.0
google-auth-oauthlib~=1.0.0
google-auth-httplib2~=0.1.0
google-api-python-client~=2.86.0
google-cloud~=0.34.0
# google-cloud-vision
# google-api-core
data-job-crawler==1.1.0
data-job-etl~=1.1.0
scikit-learn~=1.2.2