diagrams~=0.23.3
pytest~=7.2.2
data-job-crawler
data-job-etl
openai
flask_restful
build
twine
diagrams~=0.23.3
psycopg2~=2.9.5
pytest
boto3
Scrapy~=2.8.0
scrapy-playwright
pandas~=1.5.0
SQLAlchemy<2.0
numpy~=1.23.3
pytest
openai
matplotlib
google
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud
google-cloud-vision
google-api-core
